#cmake stuff
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
CMakeModules
Testing
Makefile
install_manifest.txt
compile_commands.json
*.cmake
_deps

#build
libreactphysics3d.a
libreactphysics3d.dll
libreactphysics3d.dll.a